.o-app {
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    font-size: var(--app-base-font-size);
    height: 100%;
    justify-content: center;
    letter-spacing: calc(var(--app-base-measure) / 8);
    min-height: calc(var(--app-base-measure) * 63);
    overflow: hidden;
    width: 100%;
}
