.o-description {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: calc(var(--app-base-measure) * 5);
    padding: calc(var(--app-base-measure) * 4);

    @media screen and (width >= 768px) {
        align-items: center;
        display: flex;
        flex-basis: 100%;
        gap: calc(var(--app-base-measure) * 10);
        padding: calc(var(--app-base-measure) * 10);
        text-align: center;
    }

    .title {
        align-self: center;
    }

    .advise {
        display: flex;
        flex-direction: column;
        gap: calc(var(--app-base-measure) * 2);
        line-height: calc(var(--app-base-measure) * 4);
    }
}
