.o-spinner-container {
    display: grid;
    min-height: var(--app-base-image);
    min-width: var(--app-base-image);
    place-items: center;

    .spinner-element {
        animation: spin 0.4s linear infinite;
        border: 2px solid var(--secondary-color);
        border-radius: 50%;
        border-top: 2px solid var(--thirty-color);
        height: 20px;
        width: 20px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
