.o-change-password-form {
    height: 100%;
    width: 100%;

    .container {
        display: flex;
        gap: calc(var(--app-base-measure) * 4);

        .inputs {
            .field {
                display: flex;
                flex-direction: column;
                gap: calc(var(--app-base-measure) * 1.5);
                justify-content: center;
                max-width: calc(var(--app-base-measure) * 20);

                @media screen and (width >= 768px) {
                    max-width: calc(var(--app-base-measure) * 25);
                }

                .input {
                    padding: calc(var(--app-base-measure) / 2);
                }
            }

            .input-error-message {
                align-self: flex-start;
                font-size: calc(var(--app-base-font-size) / 1.4);
                max-width: calc(var(--app-base-measure) * 20);
                min-height: calc(var(--app-base-measure) * 3);
            }
        }

        .button {
            padding: calc(var(--app-base-measure))
                calc(var(--app-base-measure) * 2);
        }
    }
}
